@import 'bootstrap/scss/bootstrap';

.full-container {
  width: 100%;
}

.my-button {
  width: 150px;
  height: 40px;

  border: none;
  border-radius: 10px;

  transition: all .1s ease-in;
  font-weight: bold;
  background-color: #7cb6b0;
  color: white;

  &:hover {
    scale: 1.1;
    background-color: #7cb6b0e4;
  }
}